<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Halaman Data</title>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css"/>
	<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
	<div class="container">
		<div class="sidebar">
			<div class="sidebar-nav">
				<div class="hiasan">
					<img src="{{url_for('static', filename='asset/gambar/segitiga.png')}}" alt="">
				</div>
				<div class="hiasan-dua">
					<img src="{{url_for('static', filename='asset/gambar/lingkaran-dua.png')}}" alt="">
				</div>
				<h4>App</h4>
				<ul>
					<li><a href="">Profil</a></li>
					<li><a href="/setting">Setting</a></li>
					<li><a href="">Logout</a></li>
				</ul>
			</div>
		</div>
		<div class="content">
			<div class="navbar">
				<span>My App</span>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/data">Data</a></li>
					<li><a href="/model">Model</a></li>
				</ul>
			</div>
			<h5>Data Film</h5>
			<div class="daftar_film">
				<div class="title-film">
					<h2>Action</h2>
					<div class="logo-film">
						<div class="wrapper_wrapper">
							
						</div>
					</div>
					<table id="wrapper_film">
						<thead>
							<tr>
								<th>Nama Film</th>
								<th>Genre</th>
								<th>Harga Tiket</th>
								<th>Tahun terbit</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Kamen Rider Zero one</td>
								<td>Action tokusatsu</td>
								<td>300.000</td>
								<td>8.7R</td>
							</tr>
							<tr>
								<td>Kamen Rider Zero one</td>
								<td>Action tokusatsu</td>
								<td>300.000</td>
								<td>8.7R</td>
							</tr>
							<tr>
								<td>Kamen Rider Zero one</td>
								<td>Action tokusatsu</td>
								<td>300.000</td>
								<td>8.7R</td>
							</tr>
							<tr>
								<td>Kamen Rider Zero one</td>
								<td>Action tokusatsu</td>
								<td>300.000</td>
								<td>8.7R</td>
							</tr>
							<tr>
								<td>Kamen Rider Zero one</td>
								<td>Action tokusatsu</td>
								<td>300.000</td>
								<td>8.7R</td>
							</tr>
							<tr>
								<td>Kamen Rider Zero one</td>
								<td>Action tokusatsu</td>
								<td>300.000</td>
								<td>8.7R</td>
							</tr>
							<tr>
								<td>Kamen Rider Zero one</td>
								<td>Action tokusatsu</td>
								<td>300.000</td>
								<td>8.7R</td>
							</tr>
							<tr>
								<td>Kamen Rider Zero one</td>
								<td>Action tokusatsu</td>
								<td>300.000</td>
								<td>8.7R</td>
							</tr>
							<tr>
								<td>Kamen Rider Zero one</td>
								<td>Action tokusatsu</td>
								<td>300.000</td>
								<td>8.7R</td>
							</tr>
							<tr>
								<td>Kamen Rider Zero one</td>
								<td>Action tokusatsu</td>
								<td>300.000</td>
								<td>8.7R</td>
							</tr>
							<tr>
								<td>Kamen Rider den-o</td>
								<td>Action tokusatsu</td>
								<td>300.000</td>
								<td>8.7R</td>
							</tr>
							<tr>
								<td>Kamen Rider blade</td>
								<td>Action tokusatsu</td>
								<td>300.000</td>
								<td>8.7R</td>
							</tr>
							<tr>
								<td>Kamen Rider faiz</td>
								<td>Action tokusatsu</td>
								<td>300.000</td>
								<td>8.7R</td>
							</tr>
							<tr>
								<td>Kamen Rider Ryuki</td>
								<td>Action tokusatsu</td>
								<td>300.000</td>
								<td>8.7R</td>
							</tr>
							<tr>
								<td>Kamen Rider Agito</td>
								<td>Action tokusatsu</td>
								<td>300.000</td>
								<td>8.7R</td>
							</tr>
							<tr>
								<td>Kamen Rider Revice</td>
								<td>Action tokusatsu</td>
								<td>300.000</td>
								<td>8.7R</td>
							</tr>
							<tr>
								<td>Kamen Rider Saber</td>
								<td>Action tokusatsu</td>
								<td>300.000</td>
								<td>8.7R</td>
							</tr>
						</tbody>
					</table>
				</div>
				
			</div>

		</div>
	</div>
	<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
	<script>
		$(document).ready(function () {
			$('#wrapper_film').DataTable();
		});
	</script>
</body>
</html>